.Teacher_information{
    background-image: url(./../../images/images/Wave_White_bottom_right_shape_01.png);
    background-position: bottom;
    background-color: #dcd1f0;
    background-size: cover;
}